@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Button styles */
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply btn bg-black text-white relative overflow-hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06),
      inset 0 2px 4px 0 rgba(255, 255, 255, 0.06),
      inset 0 -2px 4px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }

  .btn-primary:hover {
    @apply bg-gray-900;
    box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.12),
      0 4px 6px -2px rgba(0, 0, 0, 0.08),
      inset 0 2px 4px 0 rgba(255, 255, 255, 0.08),
      inset 0 -2px 4px 0 rgba(0, 0, 0, 0.18);
    transform: translateY(-2px);
  }

  .btn-primary:active {
    @apply bg-gray-800;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.06), inset 0 2px 4px 0 rgba(0, 0, 0, 0.1),
      inset 0 -2px 4px 0 rgba(255, 255, 255, 0.05);
    transform: translateY(1px);
  }

  .btn-inverse {
    @apply btn bg-white text-black relative overflow-hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
      0 2px 4px -1px rgba(0, 0, 0, 0.03), inset 0 2px 4px 0 rgba(0, 0, 0, 0.03),
      inset 0 -2px 4px 0 rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
  }

  .btn-inverse:hover {
    @apply bg-gray-100;
    box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.08),
      0 4px 6px -2px rgba(0, 0, 0, 0.05), inset 0 2px 4px 0 rgba(0, 0, 0, 0.04),
      inset 0 -2px 4px 0 rgba(255, 255, 255, 0.12);
    transform: translateY(-2px);
  }

  .btn-inverse:active {
    @apply bg-gray-200;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
      0 1px 2px -1px rgba(0, 0, 0, 0.03), inset 0 2px 4px 0 rgba(0, 0, 0, 0.06),
      inset 0 -2px 4px 0 rgba(255, 255, 255, 0.08);
    transform: translateY(1px);
  }

  .btn-text {
    @apply btn text-black bg-transparent;
  }

  /* Layout */

  .centered-content-container {
    @apply flex flex-col items-center md:max-w-[540px] mx-auto;
  }

  /* Text styles */
  .paragraph {
    @apply text-pretty text-[18px] leading-[130%]  text-[#010D3E];
  }

  .pill {
    @apply px-3 py-1 rounded-lg border border-[#222222]/10 inline-flex items-center justify-center font-medium text-sm w-fit;
  }

  /* Heading styles */
  .heading-base {
    @apply font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
  }

  .h1-style {
    @apply heading-base my-6 text-5xl md:text-7xl;
  }

  .h2-style {
    @apply heading-base py-5 text-balance text-center text-3xl md:text-5xl;
  }

  /* Image styles */
  .logo-ticker-image {
    @apply h-8 w-auto;
  }
}
